@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
:root {
  --primary-color: #6394ef;
  --primary-color-darker: #ff0000;
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: "Open sans", sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #010265;
  padding: 20px;
  border-radius: 10px;
}

h1 {
  color: #fff;
  text-align: center;
}

input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

input:focus {
  outline: 1px solid var(--primary-color);
}

button.btn-tarefa {
  border: none;
  background: var(--primary-color-darker);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;

  height: 50px;
  margin-bottom: 10px;
}

ul {
  text-decoration: none;
  color: #fff;
}

ul button {
  border: none;

  background: #efef01;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;

  padding: 8px;

  align-self: center;
}

li {
  list-style-type: none;
}
